@namespace Dev1.Flow.Core.Client

@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components
@using Radzen
@using Radzen.Blazor
@inherits InputTypeBase


@if (InputTypeName.ToLower() == "textarea")
{

        //<div class="form-floating mb-4 @TextColorClass">
        //<textarea style="min-height:150px;" rows="5" class="form-control" @bind:get="PropertyValue" @bind:set="Set" placeholder="Question Text" id="@PropertyId" required="@IsRequired"></textarea>
            <label for="@PropertyId" class="@LabelColorClass">@PropertyName</label>
        //</div>

    <RadzenHtmlEditor Change=@Set
                      Mode="HtmlEditorMode.Design"
                      @bind-Value=@PropertyValue style="height: 450px;">
        <RadzenHtmlEditorUndo />
        <RadzenHtmlEditorRedo />
        <RadzenHtmlEditorSeparator />
       @*  <RadzenHtmlEditorBold />
        <RadzenHtmlEditorItalic />
        <RadzenHtmlEditorUnderline />
        <RadzenHtmlEditorStrikeThrough />
        <RadzenHtmlEditorSeparator />
        <RadzenHtmlEditorColor />
        <RadzenHtmlEditorBackground />
        <RadzenHtmlEditorRemoveFormat />

        <RadzenHtmlEditorJustify></RadzenHtmlEditorJustify>
        <RadzenHtmlEditorOutdent></RadzenHtmlEditorOutdent>
        <RadzenHtmlEditorIndent></RadzenHtmlEditorIndent>
        <RadzenHtmlEditorAlignLeft></RadzenHtmlEditorAlignLeft>
        <RadzenHtmlEditorAlignCenter></RadzenHtmlEditorAlignCenter>
        <RadzenHtmlEditorAlignRight></RadzenHtmlEditorAlignRight>
        <RadzenHtmlEditorSeparator />
        <RadzenHtmlEditorOrderedList></RadzenHtmlEditorOrderedList>
        <RadzenHtmlEditorUnorderedList></RadzenHtmlEditorUnorderedList>
        <RadzenHtmlEditorSeparator />
        <RadzenHtmlEditorFontSize></RadzenHtmlEditorFontSize>
        <RadzenHtmlEditorFontName></RadzenHtmlEditorFontName>
        <RadzenHtmlEditorFormatBlock></RadzenHtmlEditorFormatBlock> *@
        <RadzenHtmlEditorSeparator />
        <RadzenHtmlEditorLink></RadzenHtmlEditorLink>
        <RadzenHtmlEditorUnlink></RadzenHtmlEditorUnlink>
        <RadzenHtmlEditorSeparator />

        @* <RadzenHtmlEditorCustomTool CommandName="InsertImage" Icon="image" Title="Insert Image" /> *@

    </RadzenHtmlEditor>
    



}
else
{

    <div class="form-floating mb-4 @TextColorClass">
        <input type="@InputTypeName.ToLower()" class="form-control" @bind:get="PropertyValue" @bind:set="Set" placeholder="Question Text" id="@PropertyId" required="@IsRequired">
        <label for="@PropertyId" class="@LabelColorClass">@PropertyName</label>
        </div>

}



@code {

    // [Parameter]
    // public string textInputType { get; set; }

    protected override void OnParametersSet()
    {
        if (string.IsNullOrEmpty(PropertyValue))
        {
            PropertyValue = "";

        }
        base.OnParametersSet();
    }


    //private void Apply()
    //{
    //    PropertyValue = value;
    //    ValueChangedCallback.InvokeAsync(PropertyValue);

    //}


}